/*SPECIAL*/
.root {
	-fx-font-size: 16.0px;
}

/*GENERAL*/

.clickable {
	-fx-cursor: hand;
}
Label.clickable:hover {
	-fx-underline: true;
}

/*BOARD CARD*/
.boardCard {
	-fx-background-color: #10669d;
	-fx-padding: 0.5em;
	-fx-transition: -fx-background-color;
	-fx-transition-duration: 1000.0ms;
}

.boardCard Label {
	-fx-text-fill: white;
	-fx-font-size: 0.8em;
}

.boardCard__header {
	-fx-font-size: 1.8em;
}

.boardCard__hoverElement {
	visibility: hidden;
	-fx-padding: 0.2em 0.0 0.0 0.0;
}
.boardCard:hover .boardCard__hoverElement {
	visibility: visible;
}

/*DIALOG*/
.dialog__title {
	-fx-font-size: 2.0em;
}

.dialog__errormessage {
	-fx-text-fill: red;
	-fx-font-size: 0.8em;
	-fx-font-weight: bold;
}
