/*SPECIAL*/
.root {
	-fx-font-size: 16.0px;
}

/*GENERAL*/

.clickable {
	-fx-cursor: hand;
}
Label.clickable:hover {
	-fx-underline: true;
}

TextField.transparent {
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
}

/*BOARD CARD*/
.boardCard {
	-fx-background-color: #10669d;
	-fx-padding: 0.5em;
}

.boardCard Label {
	-fx-text-fill: white;
	-fx-font-size: 0.8em;
}

TextField.boardCard__header {
	-fx-font-size: 1.8em;
}
TextField.boardCard__header:active {
	-fx-font-size: 1.8em;
}

.boardCard__hoverElement {
	-fx-padding: 0.2em 0.0 0.0 0.0;
}

/*DIALOG*/
.dialog__title {
	-fx-font-size: 2.0em;
}

.dialog__errormessage {
	-fx-text-fill: red;
	-fx-font-size: 0.8em;
	-fx-font-weight: bold;
}

.dialog__cancellabel {
	-fx-font-size: 0.9em;
	-fx-opacity: 0.7;
}

/*STAGEVIEW */
.stageheader__editicon {
	-fx-font-size: 20px;
}

.stageheader__title {
	-fx-text-fill: black;
}
